/* @keyframes changeGradient {
  0% {
    background: linear-gradient(
      90deg,
      rgba(7, 11, 33, 1) 0%,
      rgba(9, 10, 15, 1) 100%
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      rgba(33, 11, 7, 1) 0%,
      rgba(15, 10, 9, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(11, 33, 7, 1) 0%,
      rgba(10, 15, 9, 1) 100%
    );
  }
  75% {
    background: linear-gradient(
      90deg,
      rgba(7, 11, 33, 1) 0%,
      rgba(9, 10, 15, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      90deg,
      rgba(7, 11, 33, 1) 0%,
      rgba(9, 10, 15, 1) 100%
    );
  }
} */

body {
    background: linear-gradient(
      90deg,
      rgba(7, 11, 33, 1) 0%,
      rgba(9, 10, 15, 1) 100%
    );
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .przycisk {
    color: white;
    background-color: rgba(13, 21, 65, 0.8);
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
  }
  
  .przycisk-container {
    margin-top: 10px;
  }
  
  .przycisk:hover {
    color: rgb(163, 171, 252);
  }
  
  .title {
    font-size: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
  
  .logo {
    width: 44%;
    height: 44%;
    border-radius: 0%;
    margin-bottom: 50px;
    opacity: 100%;
  }
  
  .pfp {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 8px rgba(7, 11, 33, 1);
    border: 10px solid rgba(7, 11, 33, 1);
  
    opacity: 100%;
  }
  
  .center {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    left: 50%;
  }
  
  .members {
    margin-top: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  
  .card {
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 55px;
    width: 128;
    min-width: 128px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.16),
      0 4px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.16), 0 4px 0px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    animation: cardFadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .card + .card {
    margin-left: 0px;
  }
  
  .card > .username {
    padding-top: 15px;
    color: #ffffff;
    font-weight: bold;
    opacity: 100%;
  }
  
  .card > .username > .dwc {
    color: #ffffff;
    text-shadow: #ff6e00 0px 1px, white 1px 0px 15px, 1px 1px;
  }
  
  .card > .sub {
    font-size: smaller;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
  }
  
  .card > .socials {
    text-align: center;
    margin-top: 6px;
    opacity: 100%;
  }
  
  .card > .socials > a {
    color: #ffffff;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
  }
  
  .card > .socials > a:hover {
    color: #fff;
  }
  
  .card > .socials a + a {
    margin-left: 5px;
  }
  
  .card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
  }
  
  .card:hover.sub {
    opacity: 1;
  }
  
  @keyframes cardFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #overlay {
    color: white;
    white-space: nowrap;
    font-weight: bold;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    cursor: pointer;
  }
  
  #background {
    opacity: 0.6;
    width: 2000px;
    height: 1000px;
    border-radius: 0%;
  }
  
  .firstimg {
    width: 2000px;
    height: 1000px;
    border-radius: 0%;
  }
  
  